.texto
{
    color: red;
    text-decoration: underline;
}
.dato
{
    color: blue;
}

.dato2
{
    color: yellow;
}

.curriculum
{
    background-color: rgb(135, 206, 235);
    
}
.Encabezados
{
    background-color: rgb(30, 144, 255);
    color: white;
    font-size: large;
}
.SubEncabezado
{
    background-color:rgb(76, 192, 245) ;
    color: white;
}
.titulo
{
    text-align: center
}
.text1
{
    color: white;
}