body{
    font-family:sans-serif ;
    text-align:left;
    background-color: #FAFAFA;
    
}

h1{
    background-color: #EAEAEA;
    text-align: center;
    text-transform: uppercase;
    font-size: 125%; 
}

fieldset{
    margin: 10px 20px;
    background-color: #EEEEEE;
}

legend{
    padding: 0px 5px; /*padding para el interior del contenido*/
    background-color: white;
    border: 3px solid #EEEEEE;
}

#botones{
    text-align: right;
}

span{
    color: red;
    text-decoration: underline;
}